* {
    font-size: 110%;
}

.bg {
    background: linear-gradient(90deg, rgb(88, 236, 255) 0%, rgb(39, 218, 224) 44%, rgb(20, 211, 211) 72%);

} 


/* body{
    display: flex;
    justify-content: center;
    margin: auto;
}



.container {

    border: 2px solid black;
    margin: 10px;
    align-items: stretch;


}
.col-9 {
    
    align-self: stretch;
}
.form-row{
    margin: 20px;
}
.col-3{
     
    border-left: 1px solid black;
    background-color:linen;
}

.form-row {
    padding:10px;
    border: 1px solid black;
}
.custom-select {
    min-width:100%;
  } */