.bg-video{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    opacity: 0.2;
    overflow: hidden;
    
    &__content{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

// we can also use object-fit: cover on the video element