
$primary : #1000d4;
$primary-dark : #0a0083;
$primary-light : #2c1bff;

$secondary-dark : #045960;
$secondary-light : #3bbdc8;


$tertiary-dark : #EF4B6D;
$tertiary-light : #FD7297;

$gray : #444444;
$gray-light : #efefef;
$white: #fff;
$black: #000;


$grid-width:114rem;
$gutter-v: 8rem;
$gutter-h: 6rem;