body{
    display: flex;
    justify-content: center;
    margin: auto;
}
.container {
    display: flex;
    border: 2px solid black;
    margin: 100px;
    align-items: stretch;
    justify-content: center;


}
.col-9 {
    
    align-self: stretch;
}
.form-row{
    margin: 20px;
}
.col-3{
     
    border-left: 1px solid black;
    background-color:linen;
}

.form-row {
    padding:10px;
    border: 1px solid black;
}
.custom-select {
    min-width:100%;
  }