body{
    display: flex;
    justify-content: center;
    margin: auto;
}
.container {
    height: 60vh;
    display: flex;
    border: 2px solid black;
    margin: 100px;
    align-items: stretch;
    justify-content: center;


}

#sample-chart{
    height: 100%;
}

