.section-about{
    background-color: $gray-light;
    padding: 15rem 0;
    height: 125vh;
    margin-top: -25vh;
    
}

.section-skills{
    margin-top: -11vh;
    padding: 20rem 0;
    height: 111vh;
    background-image:   linear-gradient( 
                            to right bottom,
                            rgba($primary-light, 0.8),
                            rgba($primary-dark, 0.8)), 
                        url(../css/img/bd1.jpg);
    background-size: cover;
    transform: skewY(-6deg);
    
    & > * {
        transform: skewY(6deg);
    }
    
//    background-position: top;
//    clip-path: polygon(0 20%,100% 0,100% 80%,0 100%);
}

.section-projects{
    background-color: $gray-light;
    padding: 18rem 0;
    height: 111vh;
    margin-top: -11vh;
}

.section-experience{
    position: relative;
    padding: 8rem 0;
    height: 110vh;
    
}

.section-form{
    padding: 18rem 0;
    background-image: linear-gradient(to right bottom, $primary-light, $primary-dark);
    
}

.mainform{
    background-image: linear-gradient(112deg, rgba($white, 0.9) 0%, rgba($white, 0.9) 50%, transparent 50%), url("../img/f1.jpg");
    background-size: cover;
    height: 60rem;
    width: auto;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba($black, 0.4);

    .form{
        width: 50%;
        padding: 8rem;
    }
}