
$primary : #5b009d;
$primary-dark : #3c0047;
$primary-light : #4d00f9;

$secondary-dark : #045960;
$secondary-light : #3bbdc8;


$tertiary-dark : #EF4B6D;
$tertiary-light : #FD7297;

$gray : #444444;
$gray-light : #efefef;
$white: #fff;
$black: #000;


$grid-width:114rem;
$gutter-v: 8rem;
$gutter-h: 6rem;